#!/usr/bin/make -f

export GOCACHE=$(CURDIR)/.gocache
export GOPATH=$(CURDIR)/.gopath
export GOMODCACHE=$(CURDIR)/.gomodcache

%:
	dh $@

override_dh_auto_build:
	mkdir -p $(GOCACHE) $(GOPATH) $(GOMODCACHE)
	go build -o $(CURDIR)/rdn .

override_dh_auto_install:
	install -d debian/raiden/usr/bin
	install -m 0755 $(CURDIR)/rdn debian/raiden/usr/bin/rdn

override_dh_auto_clean:
	rm -rf $(GOCACHE) $(GOPATH) $(GOMODCACHE) $(CURDIR)/rdn
	dh_auto_clean
